/* ==========================================================================
   Base
   ========================================================================== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  color: inherit; }

picture {
  display: inline-block; }

picture img {
  width: 100%;
  display: block; }

@font-face {
  font-family: 'fontello';
  src: url("/assets/fonts/fontello.eot?46843074");
  src: url("/assets/fonts/fontello.eot?46843074#iefix") format("embedded-opentype"), url("/assets/fonts/fontello.woff?46843074") format("woff"), url("/assets/fonts/fontello.ttf?46843074") format("truetype"), url("/assets/fonts/fontello.svg?46843074#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?46843074#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  display: inline-block;
  width: 1em;
  margin-right: .2em;
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  text-align: center;
  text-decoration: inherit;
  speak: none;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-github:before {
  content: '\e800'; }

.icon-gplus:before {
  content: '\e803'; }

.icon-linkedin:before {
  content: '\e802'; }

.icon-twitter:before {
  content: '\e801'; }

.i-code {
  display: none; }

/* ==========================================================================
   Partials
   ========================================================================== */
/* ==========================================================================
   Font sizes
   ========================================================================== */
/* ==========================================================================
   Parse Integer
   ========================================================================== */
/* ==========================================================================
   Properties with REM with PX fallback
   ========================================================================== */
/* ==========================================================================
   Modules
   ========================================================================== */
* {
  padding: 0;
  margin: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Force scrollbar in non-IE and Remove iOS text size adjust without disabling user zoom */
html {
  height: 100%;
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* Improve default text rendering,handling of kerning pairs and ligatures */
/*Options fonts: Source Sans Pro, Open Sans, Droid, Raleway, Lato, Montserrat */
body {
  font: 400 16px "Open Sans", Arial, sans-serif;
  color: dimgray;
  text-rendering: optimizeLegibility;
  background-color: white;
  border-top: 5px solid black;
  direction: ltr; }

a {
  color: black;
  text-decoration: none; }

::selection {
  color: white;
  background: black; }

::-moz-selection {
  color: white;
  background: black; }

.container {
  max-width: 960px;
  margin: 2em; }

.header {
  overflow: hidden; }

.logo {
  display: inline-block;
  font-size: 310%;
  font-weight: 600;
  line-height: 100%;
  color: black; }

.logo:hover {
  -webkit-transform: rotateX(360deg);
  -moz-transform: rotateX(360deg);
  -ms-transform: rotateX(360deg);
  -o-transform: rotateX(360deg);
  transform: rotateX(360deg);
  -webkit-animation: fadeInOutBackground 0.4s ease-in-out;
  -moz-animation: fadeInOutBackground 0.4s ease-in-out;
  animation: fadeInOutBackground 0.4s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden; }

.main {
  width: 100%;
  min-width: 480px;
  margin: 2em 0;
  overflow: hidden; }

.profile {
  float: left;
  width: 30%;
  min-width: 180px; }

.profile-photo {
  display: block;
  width: 125px;
  margin: 0 auto 1em;
  border: 5px solid lightgray;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxmaWx0ZXIgaWQ9ImRlc2F0dXJhdGUiPjxmZUNvbG9yTWF0cml4IHR5cGU9InNhdHVyYXRlIiB2YWx1ZXM9IjAiLz48L2ZpbHRlcj48L3N2Zz4%3D#desaturate);
  filter: gray; }

.profile-name {
  margin-bottom: .5em;
  font-size: 100%;
  font-weight: 600; }

.profile-description {
  margin-bottom: 1em;
  font-size: 88%;
  font-weight: 400;
  line-height: 1.6em; }

.profile-social {
  width: 160px;
  margin: 0 auto;
  text-align: center;
  list-style: none; }

.profile-social-icon {
  float: left;
  margin-right: .5em; }
  .profile-social-icon > a {
    display: block;
    width: 30px;
    height: 30px;
    font-size: 125%;
    background-color: lightgray;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    .profile-social-icon > a:hover, .profile-social-icon > a:focus {
      color: white;
      background-color: black;
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg); }

.repos {
  float: right;
  width: 60%;
  min-width: 300px; }

.repos-head {
  padding-bottom: .5em;
  margin-bottom: 1em;
  font-size: 150%;
  font-weight: 600;
  border-bottom: 1px dotted darkgray; }

.repos-list {
  margin-left: 1.4em; }

.repos-loading {
  margin-left: -1.4em;
  list-style: none; }

.repos-item {
  margin-bottom: 1em; }

.repos-item:last-child {
  margin-bottom: 0; }

.repos-time {
  display: none; }

.repos-title {
  display: block;
  font-weight: 600; }

.repos-url {
  color: black;
  text-decoration: underline;
  background: lightyellow;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .repos-url:hover, .repos-url:focus {
    background: whitesmoke; }

.repos-description {
  display: block;
  font-size: 88%;
  line-height: 1.6em; }

.footer {
  clear: both;
  font-size: 88%;
  text-align: center; }

@media only screen and (max-width: 767px) {
  .logo {
    display: block;
    text-align: center; }

  .repos {
    margin-top: 2em; }

  .main,
  .profile,
  .repos {
    float: none;
    clear: both;
    width: 100%;
    min-width: 100%;
    overflow: hidden; } }
@-webkit-keyframes fadeInOutBackground {
  0%, 100% {
    background-color: transparent; }

  50% {
    color: white;
    background-color: black; } }
@-moz-keyframes fadeInOutBackground {
  0%, 100% {
    background-color: transparent; }

  50% {
    color: white;
    background-color: black; } }
@-o-keyframes fadeInOutBackground {
  0%, 100% {
    background-color: transparent; }

  50% {
    color: white;
    background-color: black; } }
@keyframes fadeInOutBackground {
  0%, 100% {
    background-color: transparent; }

  50% {
    color: white;
    background-color: black; } }
