* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Force scrollbar in non-IE and Remove iOS text size adjust without disabling user zoom */
html {
  height: 100%;
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
/* Improve default text rendering,handling of kerning pairs and ligatures */
/*Options fonts: Source Sans Pro, Open Sans, Droid, Raleway, Lato, Montserrat */
body {
  direction: ltr;
  font: 400 16px "Open Sans", Arial, sans-serif;
  color: #333;
  background-color: white;
  border-top: 5px solid black;
  text-rendering: optimizeLegibility;
}
a {
  color: black;
  text-decoration: underline;
}
a:hover,
a:focus {
  text-decoration: none;
}
*:active {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -moz-tap-highlight-color: rgba(0,0,0,0);
  tap-highlight-color: rgba(0,0,0,0);
}

.container {
  margin: 2em;
}

.logo {
  font-weight: 700;
  font-size: 300%;
  color: black;
}

.repos-head {
  margin: 1em 0;
  padding-bottom: .5em;
  font-size: 150%;
  font-weight: 600;
  border-bottom: 1px dotted #666;
}

.repos-list {
  margin-left: 1.4em;
}

.repos-loading {
  margin-left: -1.4em;
  list-style: none;
}

.repos-item {
  margin-bottom: 1em;
}

.repos-item:last-child {
  margin-bottom: 0;
}

.repos-time {
  display: none;
}

.repos-title {
  display: block;
  font-size: 100%;
  font-weight: 600;
}

.repos-url {
}

.repos-description {
  display: block;
  font-size: 90%;
}

.footer {
  margin-top: 1em;
  font-size: 90%;
}