html {
    height: 100%;
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font: 16px Arial,sans-serif;
    color: #333;
    background-color: #fff;
    text-align: center;
}

a {
    outline: none;
    color: #666;
}

a:hover {
    text-decoration: none;
}

a:active {
    color: #999;
}

::-moz-selection {
    background-color: #333;
    color: #fff;
}

::selection {
    background-color: #333;
    color: #fff;
}

#container {
    position: relative;
    display: block;
    width: 90%;
    margin: 0 auto;
    text-align: left;
}

#albums,
#photos {
    clear: both;
    padding: 0;
    overflow: hidden;
}

#albums li {
    clear: both;
    display: block;
    margin-bottom: .5em;
}

#photos li {
    position: relative;
    margin: 0 .5em .5em 0;
    display: inline-block;
    vertical-align: top;
}

#photos .photo {
    display: block;
}

#photos .likes {
    position: absolute;
    top: 0;
    right: 0;
    padding: .25em 1em;
    color: #fff;
    font-size: 0.75em;
    background-color: rgba(0,0,0,.5);
    text-align: center;
    z-index: 1;
}

#photos .image {
    display: block;
}
