* {
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Force scrollbar in non-IE and Remove iOS text size adjust without disabling user zoom */
html {
  height: 100%;
  overflow-y: scroll;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* Improve default text rendering,handling of kerning pairs and ligatures */
/* Options fonts: Source Sans Pro, Open Sans, Droid, Raleway, Lato, Montserrat */
body {
  font-size: $base-font-size;
  font-family: $base-font-family;
  color: dimgray;
  text-rendering: optimizeLegibility;
  background-color: white;
  border-top: 5px solid black;
  direction: ltr;
}

a {
  color: $base-color;
  text-decoration: none;
}

::selection {
  color: white;
  background: $base-color;
}

::-moz-selection {
  color: white;
  background: $base-color;
}

.container {
  max-width: 960px;
  margin: 2em;
}

.header {
  overflow: hidden;
}

.logo {
  display: inline-block;
  font-size: 310%;
  font-weight: 600;
  line-height: 100%;
  color: $base-color;

  &:hover {
    @include transform(rotateX(360deg));

    @include animation(fadeInOutBackground 0.4s ease-in-out);

    @include transition(all 0.2s ease-in-out);

    @include backface-visibility(hidden);
  }

}

.main {
  width: 100%;
  min-width: 480px;
  margin: 2em 0;
  overflow: hidden;
}

.profile {
  float: left;
  width: 30%;
  min-width: 180px;
}

.profile-photo {
  display: block;
  width: 125px;
  margin: 0 auto 1em;
  border: 5px solid lightgray;
  
  @include border-radius(50%);
  
  @include filter(grayscale(100%));
}

.profile-name {
  margin-bottom: .5em;
  font-size: 100%;
  font-weight: 600;
}

.profile-description {
  margin-bottom: 1em;
  font-size: 88%;
  font-weight: 400;
  line-height: 1.6em;
}

.profile-social {
  width: 160px;
  margin: 0 auto;
  text-align: center;
  list-style: none;
}

.profile-social-icon {
  float: left;
  margin-right: .5em;

  > a {
    display: block;
    width: 30px;
    height: 30px;
    font-size: 125%;
    background-color: lightgray;
    
    @include border-radius(50%);
    
    @include transition(all 0.2s ease-in-out);

    &:hover,
    &:focus {
      color: white;
      background-color: black;
      
      @include transform(rotate(360deg));
    }

  }

}

.repos {
  float: right;
  width: 60%;
  min-width: 300px;
}

.repos-head {
  padding-bottom: .5em;
  margin-bottom: 1em;
  font-size: 150%;
  font-weight: 600;
  border-bottom: 1px dotted darkgray;
}

.repos-list {
  margin-left: 1.4em;
}

.repos-loading {
  margin-left: -1.4em;
  list-style: none;
}

.repos-item {
  margin-bottom: 1em;
}

.repos-item:last-child {
  margin-bottom: 0;
}

.repos-time {
  display: none;
}

.repos-title {
  display: block;
  font-weight: 600;
}

.repos-url {
  color: black;
  text-decoration: underline;
  background: lightyellow;
  
  @include transition(all 0.2s ease-in-out);

  &:hover,
  &:focus {
    background: whitesmoke;
  }

}

.repos-description {
  display: block;
  font-size: 88%;
  line-height: 1.6em;
}

.footer {
  clear: both;
  font-size: 88%;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .logo {
    display: block;
    text-align: center;
  }

  .repos {
    margin-top: 2em;
  }

  .main,
  .profile,
  .repos {
    float: none;
    clear: both;
    width: 100%;
    min-width: 100%;
    overflow: hidden;
  }
}

@include keyframes(fadeInOutBackground) {
  0%, 100% {
    background-color: transparent;
  }
  
  50% {
    color: white;
    background-color: black;
  }
}
