.content {
  grid-area: article;
  position: relative;
  margin-bottom: var(--space-x-4);
}

.content:last-child {
  margin-bottom: var(--space-x-0);
}

.medium_articles {
  margin-top: var(--space-x-4);
}

.title {
  margin-bottom: var(--space-x-0_5);
  padding-bottom: var(--space-x-0_5);
  border-bottom: 1px dotted var(--secondary-color);
  font-size: var(--text-2xl);
  font-weight: var(--font-semibold);
  transition: var(--transition-200);
}

.item {
  margin-bottom: var(--space-x-2);
}

.item:last-child {
  margin-bottom: var(--space-x-0);
}

.subtitle {
  display: block;
  font-size: var(--text-base);
  font-weight: var(--font-semibold);
  transition: var(--transition-200);
}

.time {
  display: block;
  margin-bottom: var(--space-x-0_5);
  color: var(--contrast-color);
  font-size: var(--text-sm);
  transition: var(--transition-200);
}

.description {
  display: block;
  font-size: var(--text-sm);
  line-height: 150%;
  transition: var(--transition-200);
}

.url {
  color: var(--secondary-color);
  box-shadow: 0 1px var(--secondary-color);
  transition: var(--transition-200);
}

.url:hover,
.url:focus {
  box-shadow: none;
}

.viewAll {
  margin-top: var(--space-x-2);
  text-align: center;
}

.viewAllLink {
  display: inline-block;
  color: var(--secondary-color);
  text-decoration: none;
  transition: all 0.2s ease;
}

.viewAllLink:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
