.content {
  overflow: hidden;
}

.logo {
  display: inline-block;
  color: var(--secondary-color);
  font-size: 400%;
  font-weight: var(--font-semibold);
  letter-spacing: -0.2rem;
  line-height: 100%;
}

.logo:hover {
  animation: fadeInOutBackground 0.4s ease-in-out;
  backface-visibility: hidden;
  transform: rotateX(360deg);
  transition: all 0.2s;
}

.logo > span {
  display: none;
}

@keyframes fadeInOutBackground {
  0%,
  100% {
    background-color: transparent;
  }

  50% {
    color: var(--primary-color);
    background-color: var(--secondary-color);
  }
}

@media (max-width: 768px) {
  .logo {
    font-size: 360%;
  }
}
