.github:before,
.linkedin:before,
.twitter:before,
.medium:before,
.sun:before,
.moon:before {
  font-family: var(--font-fontello);
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 2rem;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sun:before,
.moon:before {
  height: 24px;
  width: 24px;
  line-height: 24px;
  font-size: 1.4rem;
}

.github:before {
  content: "\f09b";
}

.linkedin:before {
  content: "\f30c";
}

.twitter:before {
  content: "\f099";
}

.medium:before {
  content: "\f23a";
}

.sun:before {
  color: var(--primary-color);
  content: '\e801';
}

.moon:before {
  color: var(--secondary-color);
  content: '\e800';
}
