.container {
  position: relative;
  margin: 0 auto;
  padding: 1em;
  max-width: var(--max-width);
}

.main {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 280px auto;
  grid-template-areas: "sidebar article";
  margin: 1em 0;
}

@media only screen and (max-width: 1024px) {
  .main {
    grid-gap: 4em;
    grid-template-columns: auto;
    grid-template-areas:
      "sidebar"
      "article";
  }
}
