.container {
  position: relative;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--space-x-2);
}

.main {
  display: grid;
  grid-gap: var(--space-x-2);
  grid-template-columns: 280px auto;
  grid-template-areas: "sidebar article";
  margin: var(--space-x-2) var(--space-x-0) 0;
}

@media only screen and (max-width: 1024px) {
  .main {
    grid-gap: var(--space-x-4);
    grid-template-columns: auto;
    grid-template-areas:
      "sidebar"
      "article";
  }
}
