.content {
  grid-area: sidebar;
  position: relative;
}

.photo {
  display: block;
  width: 120px;
  height: 120px;
  margin: 0 auto var(--space-x-1);
  border: 5px solid var(--tertiary-color);
  border-radius: 50%;
}

.name {
  margin-bottom: var(--space-x-0_5);
  font-size: var(--text-lg);
  font-weight: var(--font-semibold);
}

.description {
  margin-bottom: var(--space-x-2);
  font-size: var(--text-sm);
  font-weight: 400;
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  margin-right: var(--space-x-0_5);
}

.list > .item:last-child {
  margin-right: var(--space-x-0);
}

.url {
  display: inline-block;
  width: 40px;
  height: 40px;
  color: var(--secondary-color);
  background-color: var(--tertiary-color);
  border-radius: 50%;
  line-height: 40px;
  transition: all 0.2s;
}

.url:hover,
.url:focus {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  transform: rotate(360deg);
}
