.switch {
  position: absolute;
  top: 50px;
  right: var(--space-x-2);
  z-index: 0;
  display: inline-block;
  width: 68px;
  height: 34px;
}

.switch input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--contrast-color);
  border-radius: 34px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.slider:before {
  position: absolute;
  bottom: 4px;
  left: 4px;
  z-index: 1;
  width: 26px;
  height: 26px;
  background-color: var(--primary-color);
  border-radius: 50%;
  content: "";
  transition: transform 0.2s;
}

input[type="checkbox"]:checked + .slider {
  background-color: var(--secondary-color);
}

input[type="checkbox"]:checked + .slider:before {
  transform: translateX(34px);
}

.icon__sun,
.icon__moon {
  position: absolute;
  top: 4px;
  z-index: 0;
}

.icon__sun {
  left: 4px;
}

.icon__moon {
  right: 4px;
}

@media (max-width: 768px) {
  .switch {
    top: 32px;
    right: var(--space-x-1);
  }
}
