/* ==========================================================================
   Font sizes
   ========================================================================== */

$base-font-size: 16px;
$base-font-family: "Open Sans", Arial, sans-serif;
$base-color: #000;