/* ==========================================================================
   Font sizes
   ========================================================================== */

$base-size-desktop: 16px;
$base-size-tablet: 14px;
$base-size-phone: 12px;
