:root.light {
  --primary-color: #fff;
  --secondary-color: #000;
  --tertiary-color: #f7f7f7;
  --contrast-color: #818181;
  --highlight-color: lightyellow;
  --max-width: 1100px;
}

:root.dark {
  --primary-color: #fff;
  --secondary-color: #000;
  --tertiary-color: #f7f7f7;
  --contrast-color: #818181;
  --highlight-color: lightyellow;
  --max-width: 1100px;
}

::selection {
  color: var(--primary-color);
  background: var(--secondary-color);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--tertiary-color));
  text-rendering: optimizeLegibility;
  background-color: var(--primary-color);
  border-top: 5px solid var(--secondary-color);
  direction: ltr;
}

a {
  color: inherit;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}
